*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Virtualenv
venv/

# plugins
plugins
*.db

# Logs
GogoBot.log
scope_settings.xml
workspace.xml
vcs.xml
.idea/.name
.idea/encodings.xml
.idea/GogoBot.iml
.idea/misc.xml
.idea/modules.xml
.DS_Store
